/*inicio do css*/

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
    background-color: #141414;
    background-size: auto 100vh;
    font-family: 'Roboto', sans-serif;
    height:auto 100vh;
    background-size: cover;
    font-size: 12px;
  }

 /* se a tela tiver pelo menos 400px vai carregar estes estilos */
 @media (min-width: 400px) {
   body {
     font-size: 14px;
   }
 }

 /* se a tela tiver pelo menos 600px vai carregar estes estilos */
 @media (min-width: 600px) {
   .grid {
     padding-top: 15em;
     margin-bottom: 15em;
   }
   .portfolio h2 {
     padding-top: 1em;
   }
 }

 /* se a tela tiver pelo menos 1000px vai carregar estes estilos */
 @media (min-width: 1370px) {
   .grid, .portfolio h2{
     padding-top: 0em;
   }
 }

 /* se a tela tiver pelo menos 600px vai carregar estes estilos */
 @media (min-width: 600px) {
   body {
     font-size: 18px;
   }
 }

 /* se a tela tiver pelo menos 1200px vai carregar estes estilos */
 @media (min-width: 1200px) {
   body {
     font-size: 20px;
   }
   .grid {
     margin-top: -7em;
   }
 }

 header {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .menu {
   background-color:black;
   position: fixed;
   width: 100vw;
   top: 0;
   z-index: 1;
 }
 
 .menu ul {
   display: flex;
   justify-content: space-around;
 }
 
 .menu li {
   list-style: none;
 }

 .menu a {
   display: block;
   padding: 10px 20px;
   transition: background-color 1s, color 1s;
 }

 .menu a:hover {
   background-color: #141414;
 }
 
 a {
   color:white;
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: underline;
 }

 .img-botao{
   height: 20px;
   width: 40px;
 }

 .img-casa {
   height: 22px;
   width: 27px;
 }

 .titulo {
   transform: scale(0.2) translateY(50vh);
   opacity: 0;
   
   animation: linear 1s animacaoTitulo forwards;
 }

 @keyframes animacaoTitulo {
   from {
     transform: scale(0.2) translateY(50vh);
     opacity: 0;
   }  
   to {
       transform: scale(1) translateY(0);
     opacity: 1;
   }
 }
 
 .site-subtitle,
 .site-title {
   color: whitesmoke;
   text-align: center;
 }

 .site-title {
   font-size: 4em;
   font-family: 'Balsamiq Sans', cursive;
 }

 .site-subtitle {
  font-style: italic;
  font-family: 'Fredoka One', cursive;
 } 

 .sobre,
 .portfolio {
   padding: 2em;
   min-height: 100vh;
 }

 @media (min-width: 1200px) {
   .container {
     margin-left: auto;
     margin-right: auto;          
     max-width: 1200px;
   }
 }

 .sobre h2 {
   color: whitesmoke;
   font-family: 'Source Code Pro', monospace;
   margin-bottom: 0.3em;
   font-size: 2em
 }

 .portfolio h2 {
   color: whitesmoke;
   font-family: 'Source Code Pro', monospace;
   margin-bottom: 45px;
   font-size: 2em
 }

 .contato h2 {
   color: whitesmoke;
   font-family: 'Source Code Pro', monospace;
   margin-bottom: 0em;
   font-size: 2em;
   padding-top: 0em;
   padding-left: 60px;
 }

 .contato.icons{
   padding-top: 10px;
   padding-bottom: 0px;
   padding-left: 40px;
   padding-right: 2em;
   height: 200px;
 }

 .sobre p {
   color: whitesmoke;
   margin-bottom: 1.2em;
   text-indent: 1.4em;
   text-align: justify;
 }

 .sobre a {
   color: whitesmoke;
   text-decoration: underline;
 }

 .sobre a:hover {
   background-color: black;
   text-decoration: none;
 }

 .sobre .avatar {
   margin-left: 2em;
 }

 .sobre .avatar img {
   border-radius: 50%;
 }

 @media (min-width: 600px) {
   .sobre .avatar{
   float: right;
   } 
 }
 
 .portfolio .grid {
   display: grid;
   gap: 2em;
 }

 @media (min-width: 560px) {
   .portfolio .grid {
   grid-template-columns: 240px 240px;
   }
 }

 @media (min-width: 880px) {
   .portfolio .grid {
   grid-template-columns: 260px 260px 260px;
   justify-content: center;
   align-content: center;
   height: calc(100vh - 11em - 48px);
   }
 }

 .portfolio figure {
   text-align: center;
 }

 /* se for mudar a background do portfolio
 .portfolio {
   background-color: darkseagreen;
 }
 */
 .img-portfolio {
   height: 180px;
   width: 240px;
   object-fit: cover;
   object-position: center;
   transition: transform 500ms;
 }

 .img-portfolio:hover {
   transform: scale(1.2) rotate(5deg);
 }

 .contato .icons {
  text-align: center;
 }

 .contato a {
  color: whitesmoke;
  font-size: 6em;
  transition: text-shadow 1s;
 }

 .contato a:active,
 .contato a:hover {
  text-decoration: none;
  text-shadow: whitesmoke 0px 0px 15px;
 }

 .rodape{
   height: 50px;
   background-color: black;
 }

 .rodape-f{
   padding-top: 14px;
   text-align: center;
   color: whitesmoke;
   font-size: 20px;
 }

/*fim do css*/